[{:events
  {#inst "2015-10-06T00:00:00.000-00:00"
   {:matches [[4 3] [8 10] [11 7] [1 6] [5 2] [9 12]]}
   #inst "2015-10-05T00:00:00.000-00:00" {:matches [[] [] [] [] [] []]}}
  :start-time 18
  :type :monday
  :end-time 22
  :tables
  ["1 & Half of 2"
   "3 & Half of 2"
   "4 & Half of 5"
   "6 & Half of 5"
   "7 & 8"
   :bye]
  :teams
  [nil
   [:cronaldo :gbale :kbenzema :sramos] ;; Real Madrid
   [:lmessi :neymar :lsuarez :ainiesta] ;; Barcelona
   [:mneuer :tmuller :fribery :arobben] ;; Bayern Munich
 ]}
 {:type :tuesday, 
  :teams 
  [nil 
   [:fribery :kbenzema] ;; France
   [:mneuer :tmuller]  ;; Germany
   [:sramos :ainiesta] ;; Spain
  ]}
 ]